<?xml version="1.0"?>
<launch>
    <arg name="robot_urdf_path" default="$(find pb_ros)/urdf/urdf/real_arm.urdf" />
    <!-- <arg name="robot_urdf_path" default="$(find ur_description)/urdf/ur5.urdf.xacro" /> -->
    <!-- <arg name="robot_urdf_path" default="$(find ur_description)/urdf/ur5.xacro" /> -->
    <param name="robot_description" 
        command="$(find xacro)/xacro $(arg robot_urdf_path)" />
        <!-- command="rosparam load $(arg robot_urdf_path)" /> -->
    <node pkg="pb_ros" type="ros_wrapper.py" name="pb_ros" output="screen" required="true" >
    	<rosparam command="load" />
    	<param name="robot_urdf_path" value="$(arg robot_urdf_path)" />
    </node> 
    <!-- <param name="robot_urdf_path" value="$(arg robot_urdf_path)" /> --> -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" output="screen"  >
      <!-- <remap from="robot_description" to="robot_description" /> -->
      <!-- <remap from="joint_states" to="different_joint_states" /> -->
 
    </node>
   <!-- <node pkg="pb_ros" type="followJointTrajectory.py" name="controller_topic" output="screen" required="true" />  -->
<!--   <node pkg="pb_ros" type="followJointTrajectory.py" name="pb_ros" output="screen" required="true" />-->

</launch>
